
/*estilo general del body*/
body {
  background: url(../img/bgblanco.png) repeat;
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}

/*estilo del header*/
.header {
  background: url(../img/bgblue2.png) repeat;
  opacity: 0.5;
  text-align: center;
  padding: 5px;
  color: rgb(255,250,250,0.90);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.75);
}

/**********estilo de menu******************/
.topnav {
  overflow: hidden;
  background-color: rgb(210,105,30,0.5);
  opacity: 0.85;
}

.topnav a {
  float: left;
  display: block;
  color: rgba(255, 250, 250, 0.97);
  text-shadow: 2px 2px 4px rgba(85, 53, 2, 0.75);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgba(224, 104, 6, 0.886);
  color: rgba(222, 249, 17, 0.95);
}


/*************estilo del contenedor central********/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}


/**************estilo del card********************/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgba(211, 211, 211, 0.368);
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
}

  .boton {
    border: 1px solid rgba(211, 211, 211, 0.368);
    background-color: blue;
    color: white;
    padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif

  }

  .boton:hover {
    background-color: #97a7e7;
    
  }

.cardTitle {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  ;
}

.cardBody {
  padding: 10px;
  flex: 1 1 100%;
}

.cardFooter {
  background: rgba(25, 236, 25, 0.888);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.cardFooter a {
  text-decoration: none;
  color: rgba(6, 78, 19, 0.8);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.25);
}

.cardFooter:hover {
  background: rgba(113, 231, 113, 0.888);
  
}

.cardFooter a:hover{
  color: white;
}

/**********media queries**************/
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}


/************estilo del footer**********/
.footer {
  background: url(../img/bgblue2.png) repeat;
  opacity: 0.5;
  text-align: center;
  padding: 20px;
  color: rgba(255, 250, 250, 0.957);
  text-shadow: 2px 2px 4px rgba(49, 7, 164, 0.75);
}