/***********************estilo general del body************************/
body {
    background: url(../img/bgblanco.png) repeat;
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin:0;
  }
  
  #mainContent{
    display: none;
  }
  
  
  
  /*********************estilo del header*******************************/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    opacity: 0.5;
    text-align: center;
    padding: 5px;
    color: rgb(255,250,250,0.90);
    text-shadow: 2px 2px 4px rgb(0,0,0,0.75);
    
  }
  
  .header-text {
    flex:1;
    transform: translateY(-15px); 
      animation: slideDown 0.9s ease forwards; 
    
  }
  .header-image img {
    max-width: 100px; 
      height: auto;
      opacity:1.0;
      margin:15px;
      border-radius: 15px;
      transform: translateY(-15px); 
      animation: slideDown 0.9s ease forwards; 
  }
  
  @keyframes slideDown {
    to {
        transform: translateY(0); 
    }
  }
  
  
  /*************************estilo de menu********************************/
  .topnav {
    overflow: hidden;
    background-color: rgba(2, 2, 11, 0.957);
    opacity: 0.95;
  
  }
  
  .topnav a {
    float: left;
    display: block;
    color: rgba(255, 250, 250, 0.97);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(85, 53, 2, 0.75);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color:rgb(190, 190, 244);
    opacity: .9;
    
  }
  
  /******************* Estilo para el contenedor del menú desplegable numbers**********/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(85, 53, 2, 0.75);
    color: rgba(255, 250, 250, 0.97);
    padding: 14px 16px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(2, 2, 11, 0.957);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: rgba(255, 250, 250, 0.97);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(190, 190, 244);
  }
  
  /* Mostrar el contenido del menú desplegable al pasar el ratón */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  /*************estilo del contenedor central********/
  .container {
    display: flex;
        justify-content: center;
    width:100%;
  
  }


 /******************estilo card **************************/


 .textarea{

  width: 100%;
 }

.cardStrings{
    min-width: 300px;
    max-width: 700px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px lightgrey;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: wrap;

}

.cardStringBody{
    padding:10px;
    

}

.cardStringTitle{
  text-align:center;
}



.btn{
  padding: 5px;
  margin:10px 5px;
  border-radius: 5px;
  background-color:  rgb(149, 148, 227, .8);
  color: white;
  font-weight: bold;
}

.btn:hover{

  background-color: blue;
}









/*********************card footer pagina siguiente********************/
.cardFooter {
  background: rgb(149, 148, 227);
  border-radius: 0 0 15px 15px;
  color: white;
  /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  
}

.cardFooter a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px rgb(0,0,0,0.25);
}

.cardFooter:hover {
  background: blue;
  color:white;
  
}

.cardFooter a:hover{
  color: white;
}




/***********************estilo del footer pagina**************/
.footer {
 
  background-color: blue;
  opacity: 0.5;
  text-align: center;
  padding: 20px;
  color: rgba(255, 250, 250, 0.957);
  text-shadow: 2px 2px 4px rgba(49, 7, 164, 0.75);
  width:100%;
}

/****************media queries************************/
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .cardCambioBases{
    width: 90%;
    min-width: 290px;
    margin-right: 2px;
    margin-left:2px;
  }

} 
