/***********************estilo general del body************************/
body {
    background: url(../img/bgblanco.png) repeat;
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin:0;
  }
  
  #mainContent{
    display: none;
  }
  
  /****************login card****************************/
  #loginCard{
    display: block;
    align-items: center;
    background-color: rgb(215, 215, 249);
    padding-top:5px;
    padding-bottom:40px;
    min-width: 300px;
    max-width: 400px;
    height: 400px;
    border: 1px solid rgba(211, 211, 211, 0.368);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(7, 10, 46);
    
    margin:auto;
    margin-top:10px;
    margin-bottom:25px;
  }
  
  ::placeholder{
    color: lightgrey;
  }
  
  .wideInput {
    width: 270px; 
  }
  
  
  .loginTitle{
      font-size: 3em;
      font-weight: bold;
      margin-top: 25px;
      margin-bottom:35px;
  }
  
  input {
    font-size: 1.6em;
    padding: 5px;
    border-radius:10px;
    border: 1px solid grey;
  }
  
  label {
    font-size: 1.3em;
  }
  
  .submitButton{
    border: 1px solid rgba(211, 211, 211, 0.368);
    background-color: blue;
    color: white;
    padding: 10px;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 35px;
  }
  
  .submitButton:hover{
      background-color: rgb(149, 148, 227);
  }
  
  /*********************estilo del header*******************************/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    opacity: 0.5;
    text-align: center;
    padding: 5px;
    color: rgb(255,250,250,0.90);
    text-shadow: 2px 2px 4px rgb(0,0,0,0.75);
    
  }
  
  .header-text {
    flex:1;
    transform: translateY(-15px); 
      animation: slideDown 0.9s ease forwards; 
    
  }
  .header-image img {
    max-width: 100px; 
      height: auto;
      opacity:1.0;
      margin:15px;
      border-radius: 15px;
      transform: translateY(-15px); 
      animation: slideDown 0.9s ease forwards; 
  }
  
  @keyframes slideDown {
    to {
        transform: translateY(0); 
    }
  }
  
  
  /*************************estilo de menu********************************/
  .topnav {
    overflow: hidden;
    background-color: rgba(2, 2, 11, 0.957);
    opacity: 0.95;
  
  }
  
  .topnav a {
    float: left;
    display: block;
    color: rgba(255, 250, 250, 0.97);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(85, 53, 2, 0.75);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color:rgb(190, 190, 244);
    opacity: .9;
    
  }
  
  /******************* Estilo para el contenedor del menú desplegable numbers**********/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(85, 53, 2, 0.75);
    color: rgba(255, 250, 250, 0.97);
    padding: 14px 16px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(2, 2, 11, 0.957);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: rgba(255, 250, 250, 0.97);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(190, 190, 244);
  }
  
  /* Mostrar el contenido del menú desplegable al pasar el ratón */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  /*************estilo del contenedor central********/
  .container {
    display: flex;
        justify-content: center;
    width:100%;
   
  }


  /*************************estilo carta del cambio de bases****************************/
  .cardCambioBases{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    min-width: 300px;
    max-width: 500px;
    box-shadow: 3px 3px 9px 5px #d3d3d3d1;
    border-radius:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color:rgb(215, 215, 249);
    margin-right:5px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;

    height: auto;
  }

    .cardTitle{
      width: 100%;
      color: blue;
      opacity:.7;
      
    }

    .numero{
      margin: 10px;
      font-weight: bolder;
      color: rgb(129, 125, 239);
      font-size: 1.2em;
    }

    

    input{
      box-shadow: 2px 2px 2px rgb(149, 148, 227);
      border: 1px rgb(149, 148, 227); 
      width:90%;
    }


    .buttons{
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top:20px;
      margin-bottom:20px;
      
    }

    .btn{
      font-size:1.2em;
      background-color: rgb(129, 125, 239);
      width: auto;
      padding: 7px;
      border-radius: 10px;;
      color: white;
    }

    .btn:hover{
      background-color: blue;
    }

    .clearButton{
      
      font-size:1.2em;
      background-color: blue;
      width: auto;
      padding: 7px;
      border-radius: 10px;;
      color: white;
      margin:auto;
      margin-top:5px;
      margin-bottom:20px;
    }

    .clearButton:hover{
      background-color: blue;
      opacity: .5;
    }

    .resultado{
      margin:10px;
      margin-top: 25px;
      font-size: 1.5em;
      font-weight: bold;
      color: rgb(129, 125, 239);
    }

  .footerRes{
      display:flex;
      justify-content: center;
      justify-items: center;
      box-shadow: 2px 2px 2px rgb(149, 148, 227);
      border-radius:15px;
      height: 50px;
      
      margin:auto;
      margin-top: 10px;
      margin-bottom:30px;
      background-color: white;
      padding:5px;
      font-size:1.5em;
      width: 90%;
      
}
/*********************card footer pagina siguiente********************/
.cardFooter {
  background: rgb(149, 148, 227);
  border-radius: 0 0 15px 15px;
  color: white;
  /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  
}

.cardFooter a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px rgb(0,0,0,0.25);
}

.cardFooter:hover {
  background: blue;
  color:white;
  
}

.cardFooter a:hover{
  color: white;
}




/***********************estilo del footer pagina**************/
.footer {
 
  background-color: blue;
  opacity: 0.5;
  text-align: center;
  padding: 20px;
  color: rgba(255, 250, 250, 0.957);
  text-shadow: 2px 2px 4px rgba(49, 7, 164, 0.75);
  width:100%;
}

/****************media queries************************/
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .cardCambioBases{
    width: 90%;
    min-width: 290px;
    margin-right: 2px;
    margin-left:2px;
  }

} 
